{% extends '::base.html.twig' %}

{% block section_title -%}
        <h1>Posts</h1>
        <p>Something about .......</p>
{% endblock %}
{% block body -%}
   
     {% for entity in entities %}
        <article>
            <div class="row">
                <div class="col-sm-12">
                    <h2><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h2>
                    <h4>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</h4>
                    <p>{{ entity.content }}</p>
                    <p> <a href="{{ path('post_show', { 'id': entity.id }) }}">>> Read More</a></p>
                </div>
            </div>
        </article>
      {% endfor %}
    <!-- <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.content }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> -->
    {% endblock %}
