{% extends '::base.html.twig' %}
{% block section_title -%}
        <h1>Posts</h1>
        <p>Something about .......</p>
{% endblock %}
{% block body -%}
    <article>
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ entity.title }}</h2>
                    <h4>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</h4>
                    <p>{{ entity.content }}</p>
                </div>
            </div>
    </article>
   
{% endblock %}
