
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/c8/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/c8/css/style.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/c8/css/mystyle.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ asset('bundles/c8/css/ie-emulation-modes-warning.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
       
        </nav>
        

      </div>
    </div>
    
    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        {% block section_title %}
        <h1>Home Page</h1>
        <p>Simple Template</p>
        {% endblock %}
      </div>
    </div>
    
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
   

    <footer class="blog-footer">
      <!-- <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
      <p class="text-center">
        <a href="#">Back to top</a>
      </p>
      <div class="container">
         <p>Copyright by Duc Huynh - <br/>
         Global Config: Site Name is  {{site_name}} <br/>
         Global Config use params: Site Name is {{param_site_name}}</p>
      </div>
     
    </footer>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ asset('bundles/c8/css/bootstrap.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('bundles/c8/css/ie10-viewport-bug-workaround.js')}}"></script>
  </body>
</html>
