{% extends '::base.html.twig' %}
{% block section_title -%}
        <h1>Comments - Edit</h1>
        <p>Something about .......</p>
{% endblock %}
{% block body -%}
	{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form(edit_form) }}
<p>  <a class="btn btn-info"href="{{ path('comment') }}">
            Back to the list
        </a>
    </p>
       <p>{{ form(delete_form) }}</p>
{% endblock %}
