{% extends '::base.html.twig' %}

{% block section_title -%}
        <h1>Comments</h1>
        <p>Something about .......</p>
{% endblock %}
{% block body -%}
   
    <h2>Service: {{start}}</h2>
    <h2>View all event: app/console debug:event-dispatcher</h2>
    <h2>postExtensionCategory Title: {{postExtensionCategory}}</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Author</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': entity.id }) }}">{{ entity.author }}</a></td>
                <td>{{ entity.content }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
              
                        <a class="btn btn-info" href="{{ path('comment_show', { 'id': entity.id }) }}">show</a>
                   
                        <a class="btn btn-info" href="{{ path('comment_edit', { 'id': entity.id }) }}">edit</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
        <p>
            <a class="btn btn-info"  href="{{ path('comment_new') }}">
                Create a new entry
            </a>
        </p>
   
    {% endblock %}
