{% extends '::base.html.twig' %}
{% block section_title -%}
        <h1>Comments - New</h1>
        <p>Something about .......</p>
{% endblock %}
{% block body -%}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form(form) }}

        
      <p>  <a class="btn btn-info"href="{{ path('comment') }}">
            Back to the list
        </a>
    </p>
{% endblock %}
