{% extends '::base.html.twig' %}
{% block section_title -%}
        <h1>Comments - Detail</h1>
        <p>Something about .......</p>
{% endblock %}

{% block body -%}
   <div class="row">
       <div class="col-sm-12">
           <b>Author: </b>
       
           <p>{{ entity.author }}</p>
       </div>
       <div class="col-sm-12">
           <b>Content</b><br/>
      
           <p>{{ entity.content }}</p>
       </div>
       <div class="col-sm-12">
           <b>Createdat: </b>
       
           <i>{{ entity.createdAt|date('Y-m-d H:i:s') }}</i>
       </div>

   </div> 

    
    <br/>
    <br/>
    <br/>
    <br/>
      <p>
        <a class="btn btn-info" href="{{ path('comment') }}">
            Back to the list
        </a>
    
        <a class="btn btn-info"  href="{{ path('comment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    {{ form(delete_form) }}</p>
{% endblock %}
