{% extends '::base.html.twig' %}

{% block section_title -%}
        <h1>Notifcations</h1>
        <p>Something about .......</p>
{% endblock %}
{% block body -%}
   
     {{name}}
    {% endblock %}
